html {
    height: 100%;
}

body {
    font-family: 'Tinos', serif;
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

body > div {
    flex: 1;
}

a {
    color: #333;
}
.typed-cursor {
    color: #000;
}
#blogs h2.h2 {
    margin-top: 0;
}

.post .date {
    margin: 0;
    line-height: inherit;
}
table>thead {
    border-bottom: thin solid rgba(190, 190, 190, 0.99);
}
table td,
table th {
    padding: 0.5rem 2rem 0.5rem 0;
}
tbody td {
    line-height: 1.5;
}
table td:last-child {
    padding-right: 0;
}
table,
table th {
    font-size: 1.999rem;
}
code.highlighter-rouge {
    background-color: #ccc;
    padding: 0.25rem;
    border-radius: 0.12rem;
    box-sizing: border-box;
}
.post .content p {
    margin: 1.414rem 0 0.5rem;
    font-weight: inherit;
    line-height: 1.42;
    font-size: 1.999rem;
}

.made-by a,
a:hover {
    color: #25ba84;
}

.measure img {
    height: 128px;
}

.social a i {
    color: #333;
}

.social a:hover i {
    color: #25ba84;
}

.social a {
    font-size: 1.6rem;
    margin-right: 0.5rem;
    line-height: 1;
}

footer .grd-row-col-3-6 {
    line-height: inherit;
}

footer .made-by {
    font-size: 1.12rem;
    line-height: 1.3;
}

.typed-cursor {
    opacity: 1;
    -webkit-animation: blink 0.7s infinite;
    -moz-animation: blink 0.7s infinite;
    animation: blink 0.7s infinite;
}

@keyframes blink {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-webkit-keyframes blink {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-moz-keyframes blink {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
@media screen and (max-width: 32rem) {
    .container.py2{
        padding: 1rem 1rem;
    }
    footer .px2{
        padding: 0 1rem;
    }
    .container .measure h1 {
        font-size:3.4rem;
    }
    .container .measure section.my2 {
        margin-top: 1rem;
        margin-bottom: 1rem;
    }
    section#blogs h2 {
        font-size: 2.4rem;
    }
    section#blogs ul li h3 {
        font-size: 1.4rem;
        margin: 1rem 0 .5rem;
        line-height: 1
    }
    .post .measure a.h3{
        font-size: 1.4rem
    }
    .post .measure h1, .post .measure a.h3{
        margin: 0.5rem 0 .5rem;
        font-weight: inherit;
        line-height: 1.2
    }
    .post .measure h1 {
        margin-left: 62px;
        font-size: 2.6rem;
    }
    .post .measure h1.txt--center {
        text-align: left;
    }
    .content p:first-child{
        margin-top: 0;
    }
}
@media screen and (min-width:32rem) {
    .post .measure h1.txt--center {
        text-align: left;
    }
}
@media screen and (max-width:48rem) and (min-width:32rem) {
    .container.py2{
        padding: 1rem 1rem;
    }
    .container .measure h1 {
        font-size:3.6rem;
    }
    section#blogs h2 {
        font-size: 2.6rem;
    }
    section#blogs ul li h3 {
        font-size: 1.7rem;
        margin: 1.2rem 0 .5rem;
        line-height: 1
    }
    footer .px2{
        padding: 0 1rem;
    }
    .post .measure a.h3{
        font-size: 2rem;
    }
    .post .measure a.h3{
        margin: 0.5rem 0 .5rem;
        font-weight: inherit;
        line-height: 1.4;
    }
    .post .measure h1 {
        margin-left: 105px;
        margin-bottom: 0px;
        font-size: 2.8rem;
    }
}
@media screen and (max-width: 799px) {
    .container.py2{
        padding: 1rem 1rem;
    }
}

@media screen and (min-width:48rem) {
    .post .measure h1.txt--center {
        text-align: center;
    }
    .social a {
        font-size: 1.9rem;
    }
    footer .made-by {
        font-size: 1.5rem;
        line-height: 1.7;
    }
}
@media screen and (min-width:64rem) {

}
