body {
  font-family: 'Playfair Display', serif;
}
.blogs a{
	color: #333;
}
#blogs h2.h2{
	margin-top: 0;
}
.made-by a, .blogs a:hover{
	color: #25ba84;
}
.measure img{
	height: 128px;
}
.social a i{
	color: #333;
}
.social a:hover i{
	color: #25ba84;
}
.social a{
	font-size: 30px;
	margin-right: 10px;
}